.edit-itinerario{
    font-size: 20px;
    cursor: pointer;
}
.delete-itinerario{
    font-size: 20px;
    cursor: pointer;
}
.loading-content{
    width: 100%;
    text-align: center;
}
.loading-gif{
    width: 50px;
}
.img-actividad{
    height: 100px;
    margin: 0 auto;
}

.bootstrap-timepicker-widget.dropdown-menu {
    z-index: 1050!important;
}


.nav>li.active{
    font-weight: bold; 
}

.frm-box{
    background-color: #f3f3f3; 
    border: 1px solid #efefef; 
    margin: 0.5rem 0; 
    padding: 5px;
}

tr>td.new-row{
    background-color: #EAEAEA;
}