.panel-default .panel-heading {
	background-color: rgb(240, 240, 240);
}

.modal .modal-header {
	padding: 0.8rem 1rem;
}

.modal .modal-header>h4 {
	padding: 0;
	margin: 0;
}

.modal .modal-footer {
	padding: 0.8rem 1rem;
}

#detail_promotion_modal .modal-header {
	background-color: rgb(240, 240, 240);
	border-radius: 6px 6px 0 0;
}

.promo-image-box {
	max-height: 40rem; 
	cursor: pointer; 
	overflow: hidden;
}

.promo-slide-image {
	max-height: 8.5rem; 
	cursor: pointer; 
	overflow: hidden;
	vertical-align: middle;
	z-index: 990;
}

.destroy_img{
	position: absolute;
    right: 15px;
    background-color: rgba(215,215,215,0.75);
    color: #ec5840;
    font-size: 1.3em;
    padding: 0.2em 0.4em;
    text-align: right;
    margin-bottom: -2rem;
    z-index: 999;
}

.promo_detail_image.selected {
	border: 3px solid #ec5840;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.1);
}

.slide-item {
	max-height: 60rem; 
	overflow: hidden;
}